{% include 'header.html' %}

<table class="Show-Table table table-ligh">
    <thead class="thead-ligh">
        <tr>
            <th>Nombre</th>
            <th>    </th>
            <th>    </th>
            <th>    </th>
            <th>    </th>
            <th>Codigo</th>
        </tr>
    </thead>
    <tbody class="Cuerpo-Tabla">
        <tr>
            <td>Sergio Valentin Rosas Bautista</td>
            <td>    </td>
            <td>    </td>
            <td>    </td>
            <td>    </td>
            <td>218282887</td>
        </tr>
        <tr>
            <td>Ismael Huerta Sanchez</td>
            <td>    </td>
            <td>    </td>
            <td>    </td>
            <td>    </td>
            <td>218282933</td>
        </tr>
        <tr>
            <td>Vladimir Arreola Orozco</td>
            <td>    </td>
            <td>    </td>
            <td>    </td>
            <td>    </td>
            <td>215070137</td>
        </tr>
        <tr>
            <td>Jorge Minakata Yañez</td>
            <td>    </td>
            <td>    </td>
            <td>    </td>
            <td>    </td>
            <td>214691154</td>
        </tr>
    </tbody>
</table>

{% include 'footer.html' %}